body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #000;
    color: #fff;
    padding: 20px;
  }
  
  h1 {
    font-size: 40px;
    font-weight: bold;
    text-align: center;
  }
  
  nav {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
  }
  
  main {
    padding: 20px;
    margin-left: 11px;
    margin-right: 11px;
  }
  
  section.contato {
    background-color: #fff;
    padding: 20px;
  }
  
  h2 {
    font-size: 24px;
    font-weight: bold;
  }
  
  p {
    font-size: 18px;
  }
  
  form {
    margin-bottom: 20px;
  }
  
  input, textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 12px;
  }
  
  input[type="submit"] {
    background-color: #000;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    padding: 10px 20px;
    margin: 13px;
    border-radius: 5px;
  }
  
  footer {
    background-color: #000;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  